:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body{
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgb(244, 243, 238);
  color: #007bff;
}

main{
  max-width: 100%;
  margin: auto;
}

p{
  background-color: rgb(166, 231, 120);
  max-width: 70%;
  padding: 15px;
  border-radius: 50px;
  margin: 5px 0;
}

p span{
  white-space: pre-wrap;
  margin: 5px;
}

p span:first-child{
  margin-right: 0;
}

.user_msg{
  text-align: right;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
}

.assistant_msg{
  text-align: left;
  margin-right: 30%;
  display: flex;
}


.hide {
  visibility: hidden;
  display: none;
}

form{
  text-align: center;
  position: sticky;
  bottom: 0;
  margin-top: 20px;
  display: flex;
  align-items: center; /* Center the input and file upload button vertically */
}

input{
  color-scheme: light dark;
  color: rgba(35, 31, 31, 0.87);
  width: 100%;
  height: 40px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(244, 243, 238);
  box-sizing: border-box;
}

input:focus{
  outline: none;
}

/* MyComponent.css */

.container {
  text-align: center;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.left-column {
  width: 30%;
  position: sticky;
  top: 20px; /* Adjust the top position as needed */
}

.right-column {
  width: 65%;
}


section {
  margin-top: 20px;
}


.button-container {
  text-align: center;
  position: sticky;
}


input[type="text"] {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 10px;
}

.file-upload-label {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

.file-upload-label:hover {
  background-color: #0056b3;
}